table {
    border-spacing: 0;
    width: 100%;
    height: 100vh;
}

td {
    border: solid;
    border-width: 1px;
}

.cell1 {
    width: 50%;
    background-color: greenyellow;
}

.cell2 {
    width: 50%;
    background-color: rebeccapurple;
}